<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 指向Dao接口 -->
<mapper namespace="com.neusoft.emanage.kaiyao.persist.ZhenduanDao">
	<!-- 获取用户 -->
	<select id="get" parameterType="Integer" resultType="ZhenduanBean">
		select  id,
				zd_yishengid,
				zd_ghid,
				zd_yishengname,
				zd_riqi,
				zd_ghtype,
				zd_ghnumber,
				zd_ghname,
				zd_ghsex,
				zd_ghage,
				zd_status,
				zd_fystatus,
				zd_ghks,
				zd_version,
				zd_ghriqi
		  from yl_yszhenduan
		 where id = #{id}
	</select>

	<!-- 分页查询 ，返回List<HashMap>对象， -->
	<select id="list" parameterType="map" resultType="ZhenduanBean">
			select  id,
				zd_yishengid,
				zd_ghid,
				zd_yishengname,
				zd_riqi,
				zd_ghtype,
				zd_ghnumber,
				zd_ghname,
				zd_ghsex,
				zd_ghage,
				zd_status,
				zd_fystatus,
				zd_ghks,
				zd_version,
				zd_ghriqi
		  from yl_yszhenduan
		<where>
			   1=1
			   <if test="zd_yishengid != null and  zd_yishengid != '' ">
				and zd_yishengid =  #{zd_yishengid}
			</if>
				   <if test="zd_fystatus != null and  zd_fystatus != '' ">
				and zd_fystatus =  #{zd_fystatus}
			</if>
			<if test="zd_status != null and  zd_status != '' ">
				and zd_status =  #{zd_status}
			</if>
			<if test="sel_zd_ghnumber != null and  sel_zd_ghnumber != '' ">
				and zd_ghnumber like   CONCAT(CONCAT('%', #{sel_zd_ghnumber}), '%')  
			</if>
			<if test="sel_zd_ghname != null  and sel_zd_ghname != '' ">
				and zd_ghname like CONCAT(CONCAT('%', #{sel_zd_ghname}), '%')  
			</if>
			<if test="sel_zd_status != null  and sel_zd_status != '' ">
				and zd_status like CONCAT(CONCAT('%', #{sel_zd_status}), '%')  
			</if>
		</where>
		<if test="sort != null and order != null">
			order by ${sort} ${order}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset}, ${pagesize}
		</if>
	</select>
<select id="findCount" parameterType="map" resultType="int">
		select  count(0)
	 from yl_yszhenduan
			<where>
			   1=1
			   <if test="zd_yishengid != null and  zd_yishengid != '' ">
				and zd_yishengid =  #{zd_yishengid}
			</if>
				   <if test="zd_fystatus != null and  zd_fystatus != '' ">
				and zd_fystatus =  #{zd_fystatus}
			</if>
			<if test="zd_status != null and  zd_status != '' ">
				and zd_status =  #{zd_status}
			</if>
			<if test="sel_zd_ghnumber != null and  sel_zd_ghnumber != '' ">
				and zd_ghnumber like   CONCAT(CONCAT('%', #{sel_zd_ghnumber}), '%')  
			</if>
			<if test="sel_zd_ghname != null  and sel_zd_ghname != '' ">
				and zd_ghname like CONCAT(CONCAT('%', #{sel_zd_ghname}), '%')  
			</if>
		</where>
		<if test="sortname != null and sortorder != null">
			order by ${sortname} ${sortorder}
		</if>
	</select>
	<!-- 按类别查询 -->
	<select id="getByTypeCode" parameterType="string" resultType="KeshiBean">
		select id,
			  ksname,
				ksnumber,
				ksaddress,
				ksorder
		  from ylsys_keshi
	</select>
	<!-- 向表中插入数据，并在将主键值赋到实体中，返回受影响的记录条数。如果不需要返回主键，无需配置useGeneratedKeys、keyProperty项 -->
	<insert id="save" parameterType="ZhenduanBean" useGeneratedKeys="true" keyProperty="id">
		insert into yl_yszhenduan(zd_yishengid, zd_yishengname, zd_ghid, zd_riqi,
		zd_ghtype,zd_ghnumber,zd_ghname,zd_ghsex,zd_ghage,zd_status,zd_fystatus,zd_ghks,zd_version,zd_ghriqi)
			values(#{zd_yishengid}, #{zd_yishengname}, #{zd_ghid}, now(),
			#{zd_ghtype}, #{zd_ghnumber}, #{zd_ghname}, #{zd_ghsex}, 
			#{zd_ghage}, #{zd_status}, #{zd_fystatus}, #{zd_ghks},#{zd_version}, #{zd_ghriqi});
	</insert>

	<!-- 更新表中数据，返回受影响的记录条数 -->
	<update id="update" parameterType="ZhenduanBean">
		update yl_yszhenduan
		<set>
			<if test="zd_status != null">
				zd_status = #{zd_status},
			</if>
			<if test="zd_fystatus != null">
				zd_fystatus = #{zd_fystatus},
			</if>
			<if test="zd_version != null">
				zd_version = #{zd_version}
			</if>
		</set>
		where id = #{id} and zd_version = #{zd_version_old}
	</update>

	<!-- 根据ID删除表中数据 -->
	<delete id="delete">
		delete from yl_yszhenduan where id =#{id}
	</delete>
</mapper> 