<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 指向Dao接口 -->
<mapper namespace="com.neusoft.emanage.ypsys.persist.YaopinBianmaDao">
	<!-- 获取用户 -->
	<select id="get" parameterType="Integer" resultType="YaopinBianmaBean">
		select  id,
				ypbmname,
				ypbmnumber,
				yppihao,
				ypbmshengchanshang,
				ypbmleibieid,
				ypbmleibiename,
				ypbmorder,
				ypbmstatus,
				ypbmdanwei
		  from ylsys_ypbianma
		 where id = #{id}
	</select>
	<!-- 按类别查询 -->
	<select id="getByTypeCode" parameterType="string" resultType="YaopinBianmaBean">
		select id,
				ypbmname,
				ypbmnumber,
				yppihao,
				ypbmshengchanshang,
				ypbmleibieid,
				ypbmleibiename,
				ypbmorder,
				ypbmstatus,
				ypbmdanwei
		  from ylsys_ypbianma
	</select>
	<!-- 分页查询 ，返回List<HashMap>对象， -->
	<select id="list" parameterType="map" resultType="YaopinBianmaBean">
			select  id,
				ypbmname,
				ypbmnumber,
				yppihao,
				ypbmshengchanshang,
				ypbmleibieid,
				ypbmleibiename,
				ypbmorder,
				ypbmstatus,
				ypbmdanwei
		  from ylsys_ypbianma
		<where>
			   1=1
			<if test="ypbmname != null and  ypbmname != '' ">
				and ypbmname like   CONCAT(CONCAT('%', #{ypbmname}), '%')  
			</if>
			<if test="ypbmnumber != null  and ypbmnumber != '' ">
				and ypbmnumber like CONCAT(CONCAT('%', #{ypbmnumber}), '%')  
			</if>
			<if test="ypbmleibiename != null  and ypbmleibiename != '' ">
				and ypbmleibiename = #{ypbmleibiename}
			</if>
		</where>
		<if test="sortname != null and sortorder != null">
			order by ${sortname} ${sortorder}
		</if>
				<if test="offset != null and pagesize !=null">
			LIMIT ${offset}, ${pagesize}
		</if>
	</select>
<select id="findCount" parameterType="map" resultType="int">
		select  count(0)
			  from ylsys_ypbianma
		<where>
			   1=1
			<if test="ypbmname != null and  ypbmname != '' ">
				and ypbmname like   CONCAT(CONCAT('%', #{ypbmname}), '%')  
			</if>
			<if test="ypbmnumber != null  and ypbmnumber != '' ">
				and ypbmnumber like CONCAT(CONCAT('%', #{ypbmnumber}), '%')  
			</if>
			<if test="ypbmleibiename != null  and ypbmleibiename != '' ">
				and ypbmleibiename = #{ypbmleibiename}
			</if>
		</where>
		<if test="sortname != null and sortorder != null">
			order by ${sortname} ${sortorder}
		</if>
	</select>
	<!-- 向表中插入数据，并在将主键值赋到实体中，返回受影响的记录条数。如果不需要返回主键，无需配置useGeneratedKeys、keyProperty项 -->
	<insert id="save" parameterType="YaopinBianmaBean" useGeneratedKeys="true" keyProperty="id">
		insert into ylsys_ypbianma(ypbmname, ypbmnumber, yppihao, ypbmshengchanshang,
		   ypbmleibieid, ypbmleibiename, ypbmorder, ypbmstatus, ypbmdanwei
		     )
			values(#{ypbmname}, #{ypbmnumber}, #{yppihao}, #{ypbmshengchanshang},
			#{ypbmleibieid},#{ypbmleibiename},#{ypbmorder},#{ypbmstatus},#{ypbmdanwei});
	</insert>

	<!-- 更新表中数据，返回受影响的记录条数 -->
	<update id="update" parameterType="YaopinBianmaBean">
		update ylsys_ypbianma
		<set>
			<if test="ypbmname != null">
				ypbmname = #{ypbmname},
			</if>
			<if test="ypbmnumber != null">
				ypbmnumber = #{ypbmnumber},
			</if>
			<if test="yppihao != null">
				yppihao = #{yppihao},
			</if>
			<if test="ypbmshengchanshang != null">
				ypbmshengchanshang = #{ypbmshengchanshang},
			</if>
				<if test="ypbmleibieid != null">
				ypbmleibieid = #{ypbmleibieid},
			</if>
					<if test="ypbmleibiename != null">
				ypbmleibiename = #{ypbmleibiename},
			</if>
					<if test="ypbmorder != null">
				ypbmorder = #{ypbmorder},
			</if>
					<if test="ypbmstatus != null">
				ypbmstatus = #{ypbmstatus},
			</if>
			<if test="ypbmdanwei != null">
				ypbmdanwei = #{ypbmdanwei}
			</if>
		</set>
		where id = #{id}
	</update>

	<!-- 根据ID删除表中数据 -->
	<delete id="delete">
		delete from ylsys_ypbianma where id =#{id}
	</delete>
</mapper> 