<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 指向Dao接口 -->
<mapper namespace="com.neusoft.emanage.ypsys.persist.YaopinTypeDao">
	<!-- 获取用户 -->
	<select id="get" parameterType="Integer" resultType="YaopinTypeBean">
		select  id,
				yplbname,
				yplbnumber,
				yplborder,
				yplbstatus
		  from ylsys_ypleibie
		 where id = #{id}
	</select>

	<!-- 分页查询 ，返回List<HashMap>对象， -->
	<select id="list" parameterType="map" resultType="YaopinTypeBean">
			select  id,
				yplbname,
				yplbnumber,
				yplborder,
				yplbstatus
		  from ylsys_ypleibie
		<where>
			   1=1
			<if test="yplbname != null and  yplbname != '' ">
				and yplbname like   CONCAT(CONCAT('%', #{yplbname}), '%')  
			</if>
			<if test="yplbnumber != null  and yplbnumber != '' ">
				and yplbnumber like CONCAT(CONCAT('%', #{yplbnumber}), '%')  
			</if>
				<if test="yplbstatus != null  and yplbstatus != '' ">
				and yplbstatus = #{yplbstatus}
			</if>
		</where>
		<if test="sortname != null and sortorder != null">
			order by ${sortname} ${sortorder}
		</if>
		<if test="offset != null and pagesize !=null">
			LIMIT ${offset}, ${pagesize}
		</if>
	</select>
<select id="findCount" parameterType="map" resultType="int">
		select  count(0)
		  from ylsys_ypleibie
		<where>
			   1=1
			<if test="yplbname != null and  yplbname != '' ">
				and yplbname like   CONCAT(CONCAT('%', #{yplbname}), '%')  
			</if>
			<if test="yplbnumber != null  and yplbnumber != '' ">
				and yplbnumber like CONCAT(CONCAT('%', #{yplbnumber}), '%')  
			</if>
				<if test="yplbstatus != null  and yplbstatus != '' ">
				and yplbstatus = #{yplbstatus}
			</if>
		</where>
		<if test="sortname != null and sortorder != null">
			order by ${sortname} ${sortorder}
		</if>
	</select>
	<!-- 按类别查询 -->
	<select id="getByTypeCode" parameterType="string" resultType="YaopinTypeBean">
		select id,
			  yplbname,
				yplbnumber,
				yplborder,
				yplbstatus
		  from ylsys_ypleibie
	</select>
	<!-- 向表中插入数据，并在将主键值赋到实体中，返回受影响的记录条数。如果不需要返回主键，无需配置useGeneratedKeys、keyProperty项 -->
	<insert id="save" parameterType="YaopinTypeBean" useGeneratedKeys="true" keyProperty="id">
		insert into ylsys_ypleibie(yplbname, yplbnumber, yplborder, yplbstatus)
			values(#{yplbname}, #{yplbnumber}, #{yplborder}, #{yplbstatus});
	</insert>

	<!-- 更新表中数据，返回受影响的记录条数 -->
	<update id="update" parameterType="YaopinTypeBean">
		update ylsys_ypleibie
		<set>
			<if test="yplbname != null">
				yplbname = #{yplbname},
			</if>
			<if test="yplbnumber != null">
				yplbnumber = #{yplbnumber},
			</if>
			<if test="yplborder != null">
				yplborder = #{yplborder},
			</if>
			<if test="yplbstatus != null">
				yplbstatus = #{yplbstatus}
			</if>
		
		</set>
		where id = #{id}
	</update>

	<!-- 根据ID删除表中数据 -->
	<delete id="delete">
		delete from ylsys_ypleibie where id =#{id}
	</delete>
</mapper> 