.icon-setup{
	background:url('../icons/setup.png') no-repeat center center;
}

.icon-shebei{
	background:url('../icons/Direction Board.png') no-repeat center center;
}

.icon-weixiu{
	background:url('../icons/www.png') no-repeat center center;
}