<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.emanage.securitycenter.persist.SecurityCenterDao">
<!-- 修改用户密码 -->
	<update id="securityCenter" parameterType="SysUserBean">
			update  sys1_user SET password=#{newpassword} where user_name=#{user_name}
	</update>
</mapper>